.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6rem 10rem;
  margin: auto;
}

.App div {
  max-height: 27rem;
}

@media screen and (max-width: 720px) {
  .App {
    padding: 2rem 1rem;
  }
  .App div {
    max-height: 40rem;
  }
}
