.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  margin: 1rem 0;
}
.head {
  display: flex;
  align-items: center;
}
.head:hover{
  cursor: pointer;
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
}
.search {
  max-height: 0.7rem;
  border-radius: 1rem;
}
.header input{
  margin: auto;
}
@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    justify-content: center;
  }
}
.icon{
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
  
}
.wallet-icon{
  cursor: pointer;
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
}

